# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/
.angular/
.vercel/

# Editor
.vscode/

# SQLite database
*.sqlite
*.sqlite-shm
*.sqlite-wal
